.header{

    display: flex;

}
header{
    background-image: url('/images/bg-hero-desktop.svg');
}
.button{
    margin-left: 800px ;
    width: 120px;
    border-radius: 30px;
    border: 0;
}
.but{
    position: relative;
    right: 450px;
    bottom: 100px;
    width: 200px;
    height: 40px;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border: 0;
    border-radius: 20px;
}
.base{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 30px;
}
.one{
    grid-column: 1 /3 ;
}
.two{
    grid-column:  3/7;

}
.three{
    grid-row: 2/ 3;
    position: relative;
    bottom: 200px;
}

.body,*{
    font-family: 'Lexend Deca', sans-serif;
    
}
.container-1{
    display: grid;
    grid-template-columns: ;
    margin: 40px 50px;
    padding: 15px;
    border: 1px transparent  hsl(208, 11%, 55%);
    background-color: beige;
    border-radius: 5px;
    box-shadow: 10px 5px 5px gray;
}
.gro{
    grid-column: 1 / 3;
}
.img{
    grid-column: 4 / 6;
}
.pen{
    grid-column: 1 / 3;
    position: relative;
    bottom: 100px;

}